<?xml version="1.0" encoding="UTF-8"?>
        <!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ldq.graduation.design.dao.ToiletPositionMapper">
    <!--插入一条使用数据-->
    <insert id="insert" >
          insert into toilet_position (toilet_position_code, start_time,gender, toilet_code, regional_name)
          values (#{toiletPositionCode},#{startTime},#{gender},#{toiletCode},#{regionalName})
    </insert>
    <!--更新厕位使用数据（结束时间）-->
    <update id="update">
      update toilet_position
      set end_time = #{endTime},duration = #{duration}
      where regional_name = #{regionalName}
        and toilet_code = #{toiletCode}
        and gender = #{gender}
        and toilet_position_code = #{toiletPositionCode}
        and end_time is null
    </update>
    <!--查找开始时间-->
    <select id="selectStartTime" resultType="java.sql.Timestamp">
        select start_time from toilet_position
        where regional_name = #{regionalName}
        and toilet_code = #{toiletCode}
        and gender = #{gender}
        and toilet_position_code = #{toiletPositionCode}
        and duration = 0
        and end_time is null
    </select>
    <!--通过区域名称查询改区域指定时间段内的所有厕位使用数据-->
    <select id="selectAllByRegionalName" resultType="ToiletPositionInfo">
        select * from toilet_position
        where regional_name = #{regionalName}
        and start_time like #{date}
        and end_time is not null
    </select>
    <!--通过区域名称删除记录-->
    <delete id="deleteByregionalName">
        delete from toilet_position where regional_name = #{regionalName}
    </delete>
</mapper>